<img [src]="_src" [style.--customheight]="height" 
                  [style.--customposition]="position"
                  [style.--customzindex]="zindex"
                  [style.--customopacity]="opacity"
                  [style.--custommaxheight]="maxheight"
                  *ngIf="_src !== ''; else loading">

<ng-template #loading>
  <div class="ion-text-center" *ngIf="spinner">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="!spinner">
    <ion-skeleton-text animated style="width: 50px; height: 50px; margin:auto;"></ion-skeleton-text>
  </div>
</ng-template>