ion-skeleton-text {
    --background-rgb: 255,255,255;
}

img {
    height: var(--customheight);
    position: var(--customposition);
    z-index: var(--customzindex);
    opacity: var(--customopacity);
    max-height: var(--custommaxheight);
}   