<ion-header>
  <ion-toolbar [style.--background]="data2.album.bg_color" *ngIf="data2">
    <ion-buttons slot="start">
      <ion-back-button class="backbutton"  text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ data2.album?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center loading" scrollEvents="true" *ngIf="!data2" >
  <div class="ion-text-center loading">
  <ion-spinner class="ion-text-right" color="secondary" name="lines"></ion-spinner>
  </div>
</ion-content>

<!--ion-content scrollEvents="true"  [fullscreen]="true" [appImageFade]="cover" *ngIf="data2" [style.--custombg]="data2.album.bg_color"-->
  <ion-content scrollEvents="true"  [fullscreen]="true" *ngIf="data2" [style.--custombg]="data2.album.bg_color">

      <!-- Image of the album -->
      <div class="ion-text-center image-box" #cover>
        <img  [src]="img+dasherize(data2.album.src_name)+'.jpg'+'?alt=media'" *ngIf="data2">
      </div>

  <!-- Rest of the page content -->
  <div class="main">

    <!-- General information -->
    <ion-row>
      <ion-col size="12" class="album-info">
        <p>{{ data2.album.title }}</p>
        <span>Album {{ data2.album.title }} </span>
      </ion-col>
      <ion-col size="8" class="ion-text-left ion-no-padding">
        <ion-button fill="clear" class="ion-no-margin">
          <ion-icon name="heart-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="arrow-down-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="ellipsis-horizontal" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-right ion-no-padding">
        <ion-button fill="clear" (click)= playAll(data2.tracks)>
          <ion-icon name="play-circle" size="large" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- List of tracks -->
    <ion-list>
      <ion-item *ngFor="let t of data2.tracks" lines="none">
        
        <ion-label item-content tappable (click)="playTrack(t)">{{ t.track_name }} </ion-label>
        
        <img class= "img2" slot="start" [src]="'/assets/images/Z23N.gif'" *ngIf="isActiveTrack(t)">
        <img class="img1" slot="start" tappable (click)="playTrack(t)" [src]="img+dasherize(t.img_name)+'.jpg'+'?alt=media'" *ngIf="!isActiveTrack(t)">
        <img class="img3" slot="start" tappable (click)="playTrack(t)" [src]="img+dasherize(t.img_name)+'.jpg'+'?alt=media'" *ngIf="isActiveTrack(t)">
       <!--
        <ion-button fill="clear">
          <ion-icon name="arrow-down-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>

        <ion-button fill = "clear" (click) = "RemoveFav(t)" *ngIf = "isFav(t)">
          <ion-icon slot = "icon-only" name = "heart" size="medium"></ion-icon>
        </ion-button>
   
        <ion-button fill = "clear" (click) = "AddFav(t)" *ngIf = "!isFav(t)">
          <ion-icon slot = "icon-only" name = "heart-outline" size="medium"></ion-icon>
        </ion-button>
        -->
        <ion-button fill = "clear">
          <ion-icon size="small" name="ellipsis-horizontal"></ion-icon>
        </ion-button> 

      </ion-item>
    </ion-list>
  </div>

</ion-content>
